* {
    box-sizing: border-box;
}

:root {
    --font-poppins: "Poppins", sans-serif;
    --font-public-sans: "Public Sans", sans-serif;
    --font-sonsie: "Sonsie One", system-ui;
    --primary-color-bg: #143c3c;
    --primary-color-black: #152427;
    --second-color-blue: #83a17d;
    --second--color-lg: #e2eddf;
    --text-color-lg: #7d8188;
    --text-color-bg: #575d5e;
    --text-color-white: #fff;
}

html,
body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    /* padding-top: 28px; */
    font-size: 1.6rem;
    font-family: var(--font-poppins);
}

/* =========== Common =========== */
.common__container {
    width: 1140px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.common--btn {
    width: 173px;
    height: 57px;
    padding: 14px 52px;
    border-radius: 40px;
    text-align: center;
    font-family: var(--font-public-sans);
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.5556; /* 155.556% */
    color: var(--text-color-white);
    background: var(--primary-color-bg);
}

.common--btn:hover {
    opacity: 0.9;
}

a {
    text-decoration: none;
}

/* =========== Header =========== */

.header {
    position: sticky;
    top: -18px;
    padding-top: 28px;
    font-family: var(--font-public-sans);
    background: var(--text-color-white);
    z-index: 1000;
}

.header__container {
    display: flex;
    align-items: center;
}

.header__nav {
    margin-left: auto;
    display: flex;
}

.header__nav--item {
    padding: 10px 19px;
    color: var(--text-color-bg);
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.5556; /* 155.556% */
    transition: 0.2 ease;
}

.header__nav a[href="#home"] {
    position: relative;
    color: var(--primary-color-bg);
}

.header__nav a[href="#home"]::before {
    position: absolute;
    bottom: -19px;
    left: 16px;
    content: "";
    width: 16px;
    height: 2px;
    background: var(--primary-color-bg);
}

.header__nav--item:hover {
    color: var(--primary-color-bg);
}

.header--btn {
    margin-left: 88px;
}

.header--separation {
    margin-top: 13px;
    width: 1140px;
    height: 1px;
    background: linear-gradient(
        90deg,
        #fff 0%,
        #dddcdc 51.09%,
        rgba(212, 212, 212, 0) 99.68%
    );
}

/* =========== Hero =========== */
.main__hero {
    font-family: var(--font-public-sans);
}

.hero__container {
    position: relative;
    display: flex;
}

.hero__bg--circle {
    position: absolute;
    top: 253px;
    left: 625px;
    width: 340px;
    height: 340px;
    border-radius: 340px;
    filter: blur(137px);
    z-index: -1;
    background: #4dbb9a;
}

.hero__bg--box-line {
    position: absolute;
}

.hero__bg--box-line#line-1 {
    top: 28px;
    left: 297px;
    z-index: 2;
}

.hero__bg--box-line#line-1 .hero__bg--flower-line {
    position: absolute;
    left: -43px;
    top: 6.68px;
}

.hero__bg--box-line#line-2 {
    bottom: -145px;
    right: 40px;
    z-index: 1;
}

.hero__bg--box-line#line-2 .hero__bg--flower-line {
    position: absolute;
    right: -44px;
    bottom: 26px;
}

.hero__text {
    margin-top: 103px;
    display: flex;
    flex-direction: column;
}

.hero--title {
    width: 368px;
    max-width: 100%;
    font-size: 5rem;
    font-weight: 800;
    line-height: 1.2; /* 120% */
    color: var(--primary-color-black);
}

.hero--desc {
    margin-top: 20px;
    width: 341px;
    max-width: 100%;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.5556; /* 155.556% */
    color: var(--text-color-bg);
}

.hero__cta {
    margin-top: 42px;
    display: flex;
    align-items: center;
    gap: 36px;
}

.hero__cta--btn {
    padding: 14px 35px;
}

.hero__cta--box {
    position: relative;
    display: flex;
    align-items: center;
}

.cta__box--image#play {
    position: absolute;
    left: 7px;
}

.cta__box--desc {
    margin-left: 35px;
    color: var(--primary-color-black);
    text-align: center;
    font-family: var(--font-poppins);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.6667; /* 166.667% */
}

.hero__images {
    margin-top: 60px;
    margin-left: auto;
}

.hero__images--item {
    width: 202px;
    height: 466px;
    border-radius: 110px;
    margin-left: 20px;
    object-fit: cover;
    z-index: 1;
}

.hero__images--item#start {
    margin-left: 0;
}

.hero__images--item#middle {
    margin-bottom: -77px;
}

/* =========== Logo =========== */
.logo__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 85px 121px;
    border-radius: 100.5px;
    margin-top: 207px;
    color: var(--primary-color-bg);
    background: var(--second--color-lg);
}

.logo__list {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.logo__list#slack {
    gap: 5px;
}

.logo__list#discord {
    gap: 11px;
}

.logo__list#heroku {
    gap: 14px;
}

.logo__list--google {
    font-size: 3.1rem;
    font-weight: 500;
}

.logo__list--slack {
    font-size: 3.2rem;
    font-weight: 600;
}

.logo__list--discord {
    font-size: 2.6rem;
    font-weight: 400;
    color: #163c35;
}

.logo__list--riotinto {
    font-family: var(--font-sonsie);
    font-size: 2.3rem;
    font-weight: 400;
}

.logo__list--heroku {
    font-size: 1.9rem;
    font-weight: 600;
    letter-spacing: 1.995px;
}

/* =========== Services =========== */
.main__services {
    margin-top: 106px;
}

.services__container {
    padding-bottom: 15px;
}

.services__text {
    display: flex;
}

.services__text--content {
    width: 46%;
    position: relative;
    display: flex;
    flex-direction: column;
    color: var(--primary-color-black);
}

.services__text--sub-title {
    margin-left: 46px;
    font-weight: 500;
    line-height: 1.625; /* 162.5% */
}

.services__text--sub-title::after {
    position: absolute;
    top: 9px;
    left: 0;
    content: "";
    width: 25px;
    height: 1px;
    flex-shrink: 0;
    background: var(--primary-color-black);
}

.services__text--title {
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.24; /* 123.81% */
}

.services__text--title::after {
    position: absolute;
    right: 103px;
    bottom: 19px;
    content: "";
    width: 66px;
    height: 2px;
    flex-shrink: 0;
    background: var(--primary-color-black);
}

.services__text--btn-trans {
    align-self: flex-end;
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 17px;
    color: var(--primary-color-bg);
}

.services--btn {
    cursor: pointer;
    width: 54px;
    height: 54px;
    flex-shrink: 0;
    border: none;
    border-radius: 50%;
    background: var(--second--color-lg);
    transition: 0.3s ease;
}

.services--btn:hover {
    color: var(--second--color-lg);
    background: var(--primary-color-bg);
}

.services__card {
    margin-top: 76px;
    display: grid;
    grid-template-columns: repeat(3, 370px);
    column-gap: 16px;
}

.services__card--item {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: 477px;
    border-radius: 20px;
    transition: 0.2s ease;
}

.services__card--item:hover {
    background: #fff;
    box-shadow: -6px 9px 64px -4px rgba(118, 118, 118, 0.25);
}

.services__card--image {
    height: 318px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.services__card--content {
    padding-top: 24px;
    transition: 0.2s ease;
}

.services__card--item:hover .services__card--content {
    padding: 24px 18px 23px;
}

.services__card--title {
    font-size: 2.2rem;
    font-weight: 600;
    color: var(--primary-color-black);
}

.services__card--desc {
    margin-top: 18px;
    width: 268px;
    max-width: 100%;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.72; /* 171.429% */
    color: var(--text-color-lg);
}

/* =========== About =========== */
.main__about {
    margin-top: 157px;
}

.about__container {
    position: relative;
    display: flex;
}

.about--line {
    position: absolute;
    top: 10px;
    left: 0;
    z-index: 2;
}

.about--flower {
    position: absolute;
    top: 10px;
    left: -45px;
    z-index: 2;
}

.about__images {
    width: 57%;
    margin-top: 90px;
    display: flex;
    gap: 21px;
}

.about__images--item {
    width: 284px;
    height: 480px;
    flex-shrink: 0;
    border-radius: 210px;
    object-fit: cover;
    box-shadow: 0 4px 234px 11px rgba(59, 137, 71, 0.25);
}

.about__images--item#img-2 {
    margin-top: -77px;
}

.about__text {
    position: relative;
    width: 43%;
    padding-left: 7px;
    color: var(--primary-color-black);
}

.about__text--sub-title {
    margin-left: 46px;
    font-weight: 500;
    line-height: 1.125; /* 112.5% */
}

.about__text--sub-title::before {
    position: absolute;
    top: 9px;
    left: 0;
    content: "";
    width: 25px;
    height: 1px;
    flex-shrink: 0;
    background: var(--primary-color-black);
}

.about__text--title {
    margin-top: 20px;
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.24; /* 123.81% */
}

.about__text--desc {
    margin-top: 11px;
    font-weight: 500;
    line-height: 1.625; /* 162.5% */
    color: var(--text-color-lg);
}

.about__text--info {
    margin-top: 36px;
    display: flex;
    align-items: center;
    color: var(--primary-color-black);
}

.about__info--num {
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.24; /* 123.81% */
}

.about__info--desc {
    margin-left: 24px;
    width: 364px;
    max-width: 100%;
    font-weight: 500;
    line-height: 1.72; /* 171.429% */
    color: var(--text-color-lg);
}

.about--separation {
    margin-top: 20px;
    width: 485px;
    height: 1px;
    background: var(--second-color-blue);
}

.about__card {
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 8px;
    left: 457px;
    font-family: var(--font-public-sans);
    font-size: 1rem;
    width: 143px;
    height: 144px;
    padding: 19px 23px 11px;
    border-radius: 8px;
    box-shadow: 0 7px 54px 0 rgba(154, 154, 154, 0.25);
    color: var(--primary-color-black);
    background: #fff;
}

.about__card--title {
    font-size: 1.4rem;
    font-weight: 600;
}

.about__card--sub-title {
    margin-top: 6px;
    font-weight: 400;
    color: var(--text-color-bg);
}

.about__card--percent {
    margin-top: 10px;
    font-weight: 500;
}

.about__card--per-line {
    margin-top: 3px;
    display: flex;
    justify-content: center;
}

.card--per-live#bold {
    width: 40%;
    height: 2px;
    border-radius: 10px;
    background: var(--second-color-blue);
}

.card--per-live#normal {
    width: 60%;
    height: 2px;
    border-radius: 10px;
    background: #EAEAEA;
}

.about__card--status {
    margin-top: 3px;
    margin-left: auto;
    font-weight: 500;
    line-height: 1.4; /* 140% */
}

.about__card--dot {
    margin-top: 3px;
    width: 11px;
    height: 11px;
}

.about__card--footer {
    margin-top: 5px;
    display: flex;
}

.about__card--teams {
    font-weight: 500;
    line-height: 1.4; /* 140% */
}

.about__card--avt-box{
    margin-left: auto;
    display: flex;
}

.about__card--avt {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid #FFF;
    object-fit: cover;
    margin-left: -5px;
}

.about__card--avt:first-of-type {
    margin-left: 0;
}

/* =========== Process =========== */
.main__process {
    margin-top: 79px;
}

.process__container {
    display: flex;
    flex-direction: column;
}

.process__text {
    position: relative;
    width: 486px;
    padding-top: 36px;
    color: var(--primary-color-black);
}

.process__text--sub-title {
    margin-left: 53px;
    font-weight: 500;
    line-height: 1.125; /* 112.5% */
}

.process__text--sub-title::before {
    position: absolute;
    top: 45px;
    left: 7px;
    width: 25px;
    height: 1px;
    content: "";
    background: var(--primary-color-black);
}

.process__text--title {
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.24; /* 123.81% */
}

.process__text--title::after {
    position: absolute;
    right: 0;
    bottom: 18px;
    content: "";
    width: 66px;
    height: 2px;
    background: var(--primary-color-black);
}

.process__choose {
    margin-top: 81px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
}

.process__choose--option {
    position: relative;
    display: flex;
    align-items: center;
    padding: 57px 30px 54px;
    border-radius: 33px;
    color: var(--primary-color-bg);
    transition: 0.4s ease;
}

.process__choose--option:hover {
    background: var(--second--color-lg);
}

.process__choose--option:hover .option--desc {
    visibility: hidden;
}

.process__choose--option:hover .option--image {
    visibility: visible;
}

.process__choose--option:hover a {
    text-decoration: underline;
}

.option--number {
    font-size: 7.2rem;
    font-weight: 600;
    line-height: 0.722; /* 72.222% */
}

.option--text {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    margin-left: 64px;
}

.option--title {
    font-size: 2.2rem;
    font-weight: 600;
}

.option--link {
    margin-top: 22px;
    color: var(--text-color-bg);
    font-size: 1.8rem;
    font-weight: 400;
}

.option--desc {
    width: 572px;
    max-width: 100%;
    margin-left: 175px;
    font-family: var(--font-public-sans);
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.56; /* 155.556% */
    color: var(--text-color-lg);
    
}

.option--image {
    position: absolute;
    right: 92px;
    bottom: 0;
    width: 450px;
    height: 444px;
    object-fit: cover;
    visibility: hidden;
}

/* =========== Features =========== */
.main__features {
    margin-top: 148px;
    background: var(--primary-color-bg);
}

.features__container {
    position: relative;
    padding: 116px 0 63px;
}

.features__flower {
    position: absolute;
    top: 205px;
    right: -50px;
    z-index: 3;
}

.features__line {
    position: absolute;
    right: -50px;
    z-index: 3;
}

.features__content {
    display: flex;
    color: #E7F9F9;
}

.features__text {
    width: 457px;
    position: relative;
}

.features__sub-text {
    margin-left: 93px;
    width: 590px;
}

.features--title {
    max-width: 100%;
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.24; /* 123.81% */
}

.features--title::after {
    position: absolute;
    bottom: 20px;
    right: 97px;
    content: "";
    width: 66px;
    height: 2px;
    background: var(--second-color-blue);
}

.features--desc {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.5556; /* 155.556% */
    color: #6A8383;
}

.features--link {
    margin-top: 13px;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.556; /* 155.556% */
    color: #FFF;
}

.features--link:hover {
    text-decoration: underline;
}

.features--link i {
    padding: 9px 0 9px 26px;
    width: 20px;
    height: 10px;
    color: #80A07B;
}

.features__video-box {
    position: relative;
    margin-top: 65px;
}

.features__video-box video {
    width: 1140px;
    height: 544px;
    flex-shrink: 0;
    border-radius: 22px;
    object-fit: cover;
}

.features__video-box--icon {
    position: absolute;
    top: 213px;
    left: 511px;
    z-index: 2;
}

/* =========== Service-Features =========== */
.main__ser-fea {
    margin-top: 140px;
}

.ser-fea__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: var(--primary-color-black);
}

.ser-fea__content {
    width: 547px;
    max-width: 100%;
}

.ser-fea--title {
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.24; /* 123.81% */
}

.ser-fea--desc {
    margin-top: 20px;
    font-weight: 500;
    line-height: 1.625; /* 162.5% */
    color: var(--text-color-lg);
}

.ser-fea__services {
    margin-top: 103px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 45px;
}

.ser-fea__services--item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 362px;
    flex-shrink: 0;
    border-radius: 160px;
    border: 1.5px solid #CECECE;
    transition: 0.3s ease;
}

.item--icon {
    display: inline-block;
    font-size: 4rem;
    width: 39px;
    height: 35px;
    flex-shrink: 0;
    color: var(--primary-color-bg);
}

.item--title {
    margin-top: 24px;
    font-size: 2rem;
    font-weight: 600;
}

.item--desc {
    margin-top: 9px;
    width: 286px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.72; /* 171.429% */
    color: var(--text-color-lg);
}

.ser-fea__services--item:hover {
    cursor: pointer;
    margin-top: -59px;
    background: #FFF;
    box-shadow: 0 36px 100px 0 rgba(111, 120, 111, 0.20);
}

/* =========== Blog =========== */
.main__blog {
    margin-top: 184px;
}

.blog__container {
    position: relative;
    color: var(--primary-color-black);
}

.blog__content {
    width: 520px;
}

.blog--sub-title {
    margin-left: 46px;
    font-weight: 500;
    line-height: 1.125; /* 112.5% */
}

.blog--sub-title::before {
    position: absolute;
    top: 9px;
    left: 0;
    content: "";
    width: 25px;
    height: 1px;
    flex-shrink: 0;
    background: var(--primary-color-black);
}

.blog--title {
    margin-top: 10px;
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.24; /* 123.81% */
}

.blog--title::after {
    position: absolute;
    top: 112px;
    left: 489px;
    width: 82px;
    height: 3px;
    flex-shrink: 0;
    content: "";
    background: var(--primary-color-black);
}

.blog__desc {
    position: absolute;
    top: 57px;
    right: 0;
    width: 409px;
    font-weight: 500;
    line-height: 1.625; /* 162.5% */
    color: var(--text-color-lg);
}

.blog__card {
    margin-top: 90px;
    display: grid;
    grid-template-columns: repeat(3, 360px);
    column-gap: 30px;
}

.blog__card--item {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0 30px 12px;
    border-radius: 20px;
    transition: 0.3s ease;
}

.blog__card--image {
    width: 360px;
    height: 317px;
    flex-shrink: 0;
    border-radius: 40px 40px 0 0;
    margin: 0 -30px -12px;
    object-fit: cover;
}

.blog__card--btn {
    margin-top: 26px;
    width: 107px;
    height: 26px;
    flex-shrink: 0;
    padding: 7px 33px;
    border-radius: 20px;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.2rem; /* 120% */
    color: #000;
    background: var(--second--color-lg);
    transition: 0.3s ease;
}

.blog__card--title {
    margin-top: 13px;
    margin-bottom: 38px;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 30px; /* 166.667% */
    color: var(--primary-color-bg);
}

.blog__card--separation {
    position: absolute;
    left: 0;
    bottom: 40px;
    width: 92%;
    height: 1px;
    flex-shrink: 0;
    background: #C4C4C4;
}

.blog__card--time {
    position: absolute;
    bottom: 12px;
    right: 30px;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.2; /* 120% */
    color: var(--text-color-lg)
}

.blog__card--item:hover {
    background: #fff;
    box-shadow: 0 12px 74px 0 rgba(91, 91, 91, 0.25);
}

.blog__card--item:hover .blog__card--btn {
    color: var(--second--color-lg);
    background: var(--primary-color-bg)
}

/* =========== Footer =========== */
.footer {
    padding: 72px 0 50px;
    margin-top: 102px;
    background: var(--primary-color-bg);
}

.footer__container {
    color: #fff;
    display: flex;
}

.footer--title {
    font-size: 3.2rem;
    font-weight: 500;
}

.footer__btn input {
    width: 33%;
    font-size: 2.2rem;
    font-weight: 600;
    border: none;
    margin-top: 25px;
    color: #6A8383;
    background: transparent;
}

.footer__btn i {
    width: 26px;
    height: 16px;
    flex-shrink: 0;
    color: #C4C4C4;
}

.footer__separation {
    margin-top: 36px;
    width: 354px;
    height: 1px;
    flex-shrink: 0;
    background: #6A8383;
}

.footer__social {
    margin-top: 47px;
    display: flex;
    gap: 22px;
}

.footer__social i {
    width: 52px;
    height: 52px;
    padding: 17px 0;
    border: 1px solid var(--text-color-lg);
    border-radius: 50%;
    transition: 0.3s ease;
}

.footer__social i:hover {
    cursor: pointer;
    background: #A75325;
}

.footer__contact {
    display: flex;
    gap: 50px;
    margin-left: 261px;
    margin-top: 22px;
}

.footer__title-list {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.5556; /* 155.556% */
}

.footer__list {
    margin-top: 18px;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.footer--item {
    color: #6A8383;
}

.footer--item:hover {
    text-decoration: underline;
}
.footer--separation#under-line {
    margin-top: 45px;
    width: 1140px;
    height: 1px;
    flex-shrink: 0;
    background: linear-gradient(90deg, #143C3C 2.28%, #295A5A 55.65%, rgba(38, 82, 82, 0.00) 102.06%);
}