* {
    box-sizing: border-box;
}

:root {
    --font-poppins: "Poppins", sans-serif;
    --font-public-sans: "Public Sans", sans-serif;
    --font-sonsie: "Sonsie One", system-ui;
    --primary-color-bg: #143c3c;
    --primary-color-black: #152427;
    --second-color-blue: #83a17d;
    --second--color-lg: #e2eddf;
    --text-color-lg: #7d8188;
    --text-color-bg: #575d5e;
    --text-color-white: #fff;
}

html {
    font-size: 62.5%;
}

body {
    /* padding-top: 28px; */
    font-size: 1.6rem;
    scroll-behavior: smooth;
    font-family: var(--font-poppins);
}

/* =========== Common =========== */
.common__container {
    width: 1140px;
    margin: 0 auto;
}

.common--btn {
    width: 173px;
    height: 57px;
    padding: 14px 52px;
    border-radius: 40px;
    text-align: center;
    font-family: var(--font-public-sans);
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.5556; /* 155.556% */
    color: var(--text-color-white);
    background: var(--primary-color-bg);
}

.common--btn:hover {
    opacity: 0.9;
}

a {
    text-decoration: none;
}

/* =========== Header =========== */

.header {
    position: sticky;
    top: -18px;
    padding-top: 28px;
    font-family: var(--font-public-sans);
    background: var(--text-color-white);
    z-index: 1000;
}

.header__container {
    display: flex;
    align-items: center;
}

.header__nav {
    margin-left: auto;
    display: flex;
}

.header__nav--item {
    padding: 10px 19px;
    color: var(--text-color-bg);
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.5556; /* 155.556% */
    transition: 0.2 ease;
}

.header__nav a[href="#home"] {
    position: relative;
    color: var(--primary-color-bg);
}

.header__nav a[href="#home"]::before {
    position: absolute;
    bottom: -19px;
    left: 16px;
    content: "";
    width: 16px;
    height: 2px;
    background: var(--primary-color-bg);
}

.header__nav--item:hover {
    color: var(--primary-color-bg);
}

.header--btn {
    margin-left: 88px;
}

.header--separation {
    margin-top: 13px;
    width: 1140px;
    height: 1px;
    background: linear-gradient(
        90deg,
        #fff 0%,
        #dddcdc 51.09%,
        rgba(212, 212, 212, 0) 99.68%
    );
}

/* =========== Hero =========== */
.main__hero {
    font-family: var(--font-public-sans);
}

.hero__container {
    position: relative;
    display: flex;
}

.hero__bg--circle {
    position: absolute;
    top: 253px;
    left: 625px;
    width: 340px;
    height: 340px;
    border-radius: 340px;
    filter: blur(137px);
    z-index: -1;
    background: #4dbb9a;
}

.hero__bg--box-line {
    position: absolute;
}

.hero__bg--box-line#line-1 {
    top: 28px;
    left: 297px;
    z-index: 2;
}

.hero__bg--box-line#line-1 .hero__bg--flower-line {
    position: absolute;
    left: -43px;
    top: 6.68px;
}

.hero__bg--box-line#line-2 {
    bottom: -145px;
    right: 40px;
    z-index: 1;
}

.hero__bg--box-line#line-2 .hero__bg--flower-line {
    position: absolute;
    right: -44px;
    bottom: 26px;
}

.hero__text {
    margin-top: 103px;
    display: flex;
    flex-direction: column;
}

.hero--title {
    width: 368px;
    max-width: 100%;
    font-size: 5rem;
    font-weight: 800;
    line-height: 1.2; /* 120% */
    color: var(--primary-color-black);
}

.hero--desc {
    margin-top: 20px;
    width: 341px;
    max-width: 100%;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.5556; /* 155.556% */
    color: var(--text-color-bg);
}

.hero__cta {
    margin-top: 42px;
    display: flex;
    align-items: center;
    gap: 36px;
}

.hero__cta--btn {
    padding: 14px 35px;
}

.hero__cta--box {
    position: relative;
    display: flex;
    align-items: center;
}

.cta__box--image#play {
    position: absolute;
    left: 7px;
}

.cta__box--desc {
    margin-left: 35px;
    color: var(--primary-color-black);
    text-align: center;
    font-family: var(--font-poppins);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.6667; /* 166.667% */
}

.hero__images {
    margin-top: 60px;
    margin-left: auto;
}

.hero__images--item {
    width: 202px;
    height: 466px;
    border-radius: 110px;
    margin-left: 20px;
    object-fit: cover;
    z-index: 1;
}

.hero__images--item#start {
    margin-left: 0;
}

.hero__images--item#middle {
    margin-bottom: -77px;
}

/* =========== Logo =========== */
.logo__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 85px 121px;
    border-radius: 100.5px;
    margin-top: 207px;
    color: var(--primary-color-bg);
    background: var(--second--color-lg);
}

.logo__list {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.logo__list#slack {
    gap: 5px;
}

.logo__list#discord {
    gap: 11px;
}

.logo__list#heroku {
    gap: 14px;
}

.logo__list--google {
    font-size: 3.1rem;
    font-weight: 500;
}

.logo__list--slack {
    font-size: 3.2rem;
    font-weight: 600;
}

.logo__list--discord {
    font-size: 2.6rem;
    font-weight: 400;
    color: #163c35;
}

.logo__list--riotinto {
    font-family: var(--font-sonsie);
    font-size: 2.3rem;
    font-weight: 400;
}

.logo__list--heroku {
    font-size: 1.9rem;
    font-weight: 600;
    letter-spacing: 1.995px;
}

/* =========== Services =========== */
.main__services {
    margin-top: 106px;
}

.services__container {
    padding-bottom: 15px;
}

.services__text {
    display: flex;
}

.services__text--content {
    width: 46%;
    position: relative;
    display: flex;
    flex-direction: column;
    color: var(--primary-color-black);
}

.services__text--sub-title {
    margin-left: 46px;
    font-weight: 500;
    line-height: 1.625; /* 162.5% */
}

.services__text--sub-title::after {
    position: absolute;
    top: 9px;
    left: 0;
    content: "";
    width: 25px;
    height: 1px;
    flex-shrink: 0;
    background: var(--primary-color-black);
}

.services__text--title {
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.24; /* 123.81% */
}

.services__text--title::after {
    position: absolute;
    right: 103px;
    bottom: 19px;
    content: "";
    width: 66px;
    height: 2px;
    flex-shrink: 0;
    background: var(--primary-color-black);
}

.services__text--btn-trans {
    align-self: flex-end;
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 17px;
    color: var(--primary-color-bg);
}

.services--btn {
    cursor: pointer;
    width: 54px;
    height: 54px;
    flex-shrink: 0;
    border: none;
    border-radius: 50%;
    background: var(--second--color-lg);
    transition: 0.3s ease;
}

.services--btn:hover {
    color: var(--second--color-lg);
    background: var(--primary-color-bg);
}

.services__card {
    margin-top: 76px;
    display: grid;
    grid-template-columns: repeat(3, 370px);
    column-gap: 16px;
}

.services__card--item {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: 477px;
    border-radius: 20px;
    transition: 0.2s ease;
}

.services__card--item:hover {
    background: #fff;
    box-shadow: -6px 9px 64px -4px rgba(118, 118, 118, 0.25);
}

.services__card--image {
    height: 318px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.services__card--content {
    padding-top: 24px;
    transition: 0.2s ease;
}

.services__card--item:hover .services__card--content {
    padding: 24px 18px 23px;
}

.services__card--title {
    font-size: 2.2rem;
    font-weight: 600;
    color: var(--primary-color-black);
}

.services__card--desc {
    margin-top: 18px;
    width: 268px;
    max-width: 100%;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.72; /* 171.429% */
    color: var(--text-color-lg);
}